fire~=0.7.0
Jinja2~=3.1.6
requests~=2.32
coloredlogs~=15.0.1
mdformat~=0.7.17
toml~=0.10.2
PyYAML~=6.0.1
python-jsonpath~=2.0
requests_cache~=1.2.1
packaging~=25.0
beautifulsoup4~=4.14
pypistats~=1.11
ruamel.yaml~=0.18.16
