astroid~=3.2.2
pylint~=3.2.3
coverage==6.2
tox~=4.30.0
black[jupyter]~=26.3
responses~=0.14.0
ruamel.yaml~=0.19
# For website and docs
properdocs~=1.6
mkdocs-material
# comes with mkdocs-material, which only asks for >=10.2. Older versions crash in
# pymdownx.highlight with Pygments 2.20 and silently leave every code block unformatted
pymdown-extensions>=11.0.2
mkdocs-table-reader-plugin
mkdocs-gen-files~=0.6
mkdocs-literate-nav~=0.6
mkdocs-charts-plugin
