      <div class="cds--col">
        <cds-tile color-scheme="white">
          <h2>
            ${name}
          </h2>

          <p>
            ${description}
          </p>

          <cds-link href="${url}">
            Go to repository
            <span slot="icon"
                  style="margin: 2px 4px -2px 6px">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                   xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                   width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"
                   data-v-bdc8f36d="">
                <path d="M13,14H3c-0.6,0-1-0.4-1-1V3c0-0.6,0.4-1,1-1h5v1H3v10h10V8h1v5C14,13.6,13.6,14,13,14z"></path>
                <path d="M10 1L10 2 13.3 2 9 6.3 9.7 7 14 2.7 14 6 15 6 15 1z"></path>
              </svg>
            </span>
          </cds-link>
        </cds-tile>
      </div>
