<div class="card cds--col">
  <cds-tile color-scheme="white">
    <h3 class="project-title">{{title}}</h3>
    <div class="tags">{{tags}}</div>
    <div class="description">
      {% if id_read_more != "None" %}
      <input type="checkbox" class="read-more-input" id="{{id_read_more}}" />
      <p class="text">
        {{description_visible}}<span class="ellipsis">...</span
        ><span class="extra-text">{{description_hidden}}</span>
      </p>
      <label for="{{id_read_more}}" class="read-more-button"></label>
      {% else %}
      <p class="text">{{description_visible}}</p>
      {% endif %}
    </div>
    <div class="links">{{links}}</div>
  </cds-tile>
</div>
