<cds-link href="{{url}}">
  Go to {{place}}
  <span class="link" slot="icon">
    <svg
      focusable="false"
      preserveAspectRatio="xMidYMid meet"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      width="16"
      height="16"
      viewBox="0 0 32 32"
      aria-hidden="true"
      data-v-bdc8f36d=""
    >
      <polygon
        points="10 6 10 8 22.59 8 6 24.59 7.41 26 24 9.41 24 22 26 22 26 6 10 6"
      />
    </svg>
  </span>
</cds-link>
