<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Explore projects that use or extend Qiskit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qiskit Ecosystem</title>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v2.0.1/tile.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v2.0.1/button.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/list.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/tag.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/latest/plex.css"
    />
    <link
      rel="stylesheet"
      href="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/themes.css"
    />
    <link
      rel="stylesheet"
      href="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/grid.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="cds-theme-zone-white custom-theme">
    <header>
      <div class="inside-header cds--grid layout-lead-space-fixed__container">
        <img
          class="ecosystem-logo"
          src="ecosystem-logo.svg"
          alt="Qiskit Ecosystem logo"
        />
        <p class="title">Explore projects that use or extend Qiskit</p>

        <cds-button href="https://github.com/qiskit-community/ecosystem">
          Join the Ecosystem
          <span slot="icon" style="margin: 2px 0 -2px 0">
            <svg
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              aria-hidden="true"
              data-v-bdc8f36d=""
            >
              <path
                d="M13,14H3c-0.6,0-1-0.4-1-1V3c0-0.6,0.4-1,1-1h5v1H3v10h10V8h1v5C14,13.6,13.6,14,13,14z"
              ></path>
              <path
                d="M10 1L10 2 13.3 2 9 6.3 9.7 7 14 2.7 14 6 15 6 15 1z"
              ></path>
            </svg>
          </span>
        </cds-button>
      </div>
    </header>

    <div class="content cds--grid layout-lead-space-fixed__container">
      <h2 id="providers" class="section">
        <a title="Permalink to this headline" href="#providers" class="section-anchor">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 32 32" aria-hidden="true" class="inline"><path d="M29.25,6.76a6,6,0,0,0-8.5,0l1.42,1.42a4,4,0,1,1,5.67,5.67l-8,8a4,4,0,1,1-5.67-5.66l1.41-1.42-1.41-1.42-1.42,1.42a6,6,0,0,0,0,8.5A6,6,0,0,0,17,25a6,6,0,0,0,4.27-1.76l8-8A6,6,0,0,0,29.25,6.76Z"></path><path d="M4.19,24.82a4,4,0,0,1,0-5.67l8-8a4,4,0,0,1,5.67,0A3.94,3.94,0,0,1,19,14a4,4,0,0,1-1.17,2.85L15.71,19l1.42,1.42,2.12-2.12a6,6,0,0,0-8.51-8.51l-8,8a6,6,0,0,0,0,8.51A6,6,0,0,0,7,28a6.07,6.07,0,0,0,4.28-1.76L9.86,24.82A4,4,0,0,1,4.19,24.82Z"></path></svg>
        </a>
        Providers
      </h2>
      <p>Run your quantum programs</p>
      <div id="section1" class="cards cds--row">{{section_provider_cards}}</div>

      <h2 id="quantum-applications" class="section">
        <a title="Permalink to this headline" href="#quantum-applications" class="section-anchor">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 32 32" aria-hidden="true" class="inline"><path d="M29.25,6.76a6,6,0,0,0-8.5,0l1.42,1.42a4,4,0,1,1,5.67,5.67l-8,8a4,4,0,1,1-5.67-5.66l1.41-1.42-1.41-1.42-1.42,1.42a6,6,0,0,0,0,8.5A6,6,0,0,0,17,25a6,6,0,0,0,4.27-1.76l8-8A6,6,0,0,0,29.25,6.76Z"></path><path d="M4.19,24.82a4,4,0,0,1,0-5.67l8-8a4,4,0,0,1,5.67,0A3.94,3.94,0,0,1,19,14a4,4,0,0,1-1.17,2.85L15.71,19l1.42,1.42,2.12-2.12a6,6,0,0,0-8.51-8.51l-8,8a6,6,0,0,0,0,8.51A6,6,0,0,0,7,28a6.07,6.07,0,0,0,4.28-1.76L9.86,24.82A4,4,0,0,1,4.19,24.82Z"></path></svg>
        </a>
        Quantum applications
      </h2>
      <p>Use quantum computing to solve real-world problems</p>
      <div id="section2" class="cards cds--row">{{section_applications_cards}}</div>

      <h2 id="other-tools" class="section">
        <a title="Permalink to this headline" href="#other-tools" class="section-anchor">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 32 32" aria-hidden="true" class="inline"><path d="M29.25,6.76a6,6,0,0,0-8.5,0l1.42,1.42a4,4,0,1,1,5.67,5.67l-8,8a4,4,0,1,1-5.67-5.66l1.41-1.42-1.41-1.42-1.42,1.42a6,6,0,0,0,0,8.5A6,6,0,0,0,17,25a6,6,0,0,0,4.27-1.76l8-8A6,6,0,0,0,29.25,6.76Z"></path><path d="M4.19,24.82a4,4,0,0,1,0-5.67l8-8a4,4,0,0,1,5.67,0A3.94,3.94,0,0,1,19,14a4,4,0,0,1-1.17,2.85L15.71,19l1.42,1.42,2.12-2.12a6,6,0,0,0-8.51-8.51l-8,8a6,6,0,0,0,0,8.51A6,6,0,0,0,7,28a6.07,6.07,0,0,0,4.28-1.76L9.86,24.82A4,4,0,0,1,4.19,24.82Z"></path></svg>
        </a>
        Other tools
      </h2>
      <p>Cool projects that extend, interface with, or use Qiskit</p>
      <div id="section3" class="cards cds--row">{{section_other_cards}}</div>
    </div>
  </body>
</html>
