<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Explore projects that use or extend Qiskit"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qiskit Ecosystem</title>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v2.0.1/tile.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v2.0.1/button.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/list.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/tag.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/latest/plex.css"
    />
    <link
      rel="stylesheet"
      href="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/themes.css"
    />
    <link
      rel="stylesheet"
      href="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/grid.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="cds-theme-zone-white">
    <header>
      <div class="inside-header cds--grid layout-lead-space-fixed__container">
        <img
          class="ecosystem-logo"
          src="ecosystem-logo.svg"
          alt="Qiskit Ecosystem logo"
        />
        <p class="title-description">
          Explore projects and hardware providers that leverage the open-source
          Qiskit toolkit or are built on top of it.
        </p>

        <cds-button href="https://github.com/qiskit-community/ecosystem">
          Add your project
          <span slot="icon" style="margin: 2px 0 -2px 0">
            <svg
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              width="16"
              height="16"
              viewBox="0 0 32 32"
              aria-hidden="true"
              data-v-bdc8f36d=""
            >
              <path
                d="M16,2a14,14,0,0,0-4.43,27.28c.7.13,1-.3,1-.67s0-1.21,0-2.38c-3.89.84-4.71-1.88-4.71-1.88A3.71,3.71,0,0,0,6.24,22.3c-1.27-.86.1-.85.1-.85A2.94,2.94,0,0,1,8.48,22.9a3,3,0,0,0,4.08,1.16,2.93,2.93,0,0,1,.88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4,5.4,0,0,1,1.44-3.76,5,5,0,0,1,.14-3.7s1.17-.38,3.85,1.43a13.3,13.3,0,0,1,7,0c2.67-1.81,3.84-1.43,3.84-1.43a5,5,0,0,1,.14,3.7,5.4,5.4,0,0,1,1.44,3.76c0,5.38-3.27,6.56-6.39,6.91a3.33,3.33,0,0,1,.95,2.59c0,1.87,0,3.38,0,3.84s.25.81,1,.67A14,14,0,0,0,16,2Z"
              ></path>
            </svg>
          </span>
        </cds-button>
      </div>
    </header>

    <div class="content cds--grid layout-lead-space-fixed__container">
      <h2 id="providers" class="section">
        <a
          title="Permalink to this headline"
          href="#providers"
          class="section-anchor"
        >
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
            class="inline"
          >
            <path
              d="M29.25,6.76a6,6,0,0,0-8.5,0l1.42,1.42a4,4,0,1,1,5.67,5.67l-8,8a4,4,0,1,1-5.67-5.66l1.41-1.42-1.41-1.42-1.42,1.42a6,6,0,0,0,0,8.5A6,6,0,0,0,17,25a6,6,0,0,0,4.27-1.76l8-8A6,6,0,0,0,29.25,6.76Z"
            ></path>
            <path
              d="M4.19,24.82a4,4,0,0,1,0-5.67l8-8a4,4,0,0,1,5.67,0A3.94,3.94,0,0,1,19,14a4,4,0,0,1-1.17,2.85L15.71,19l1.42,1.42,2.12-2.12a6,6,0,0,0-8.51-8.51l-8,8a6,6,0,0,0,0,8.51A6,6,0,0,0,7,28a6.07,6.07,0,0,0,4.28-1.76L9.86,24.82A4,4,0,0,1,4.19,24.82Z"
            ></path>
          </svg>
        </a>
        System providers
      </h2>
      <p>
        Access IBM Quantum and 3rd party systems and simulators to the following
        providers
      </p>
      <div id="section1" class="cards cds--row">{{section_provider_cards}}</div>

      <h2 id="quantum-applications" class="section">
        <a
          title="Permalink to this headline"
          href="#quantum-applications"
          class="section-anchor"
        >
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
            class="inline"
          >
            <path
              d="M29.25,6.76a6,6,0,0,0-8.5,0l1.42,1.42a4,4,0,1,1,5.67,5.67l-8,8a4,4,0,1,1-5.67-5.66l1.41-1.42-1.41-1.42-1.42,1.42a6,6,0,0,0,0,8.5A6,6,0,0,0,17,25a6,6,0,0,0,4.27-1.76l8-8A6,6,0,0,0,29.25,6.76Z"
            ></path>
            <path
              d="M4.19,24.82a4,4,0,0,1,0-5.67l8-8a4,4,0,0,1,5.67,0A3.94,3.94,0,0,1,19,14a4,4,0,0,1-1.17,2.85L15.71,19l1.42,1.42,2.12-2.12a6,6,0,0,0-8.51-8.51l-8,8a6,6,0,0,0,0,8.51A6,6,0,0,0,7,28a6.07,6.07,0,0,0,4.28-1.76L9.86,24.82A4,4,0,0,1,4.19,24.82Z"
            ></path>
          </svg>
        </a>
        Application packages
      </h2>
      <p>
        Explore packages that help apply quantum technology to real-world use
        cases
      </p>
      <div id="section2" class="cards cds--row">
        {{section_applications_cards}}
      </div>

      <h2 id="other-tools" class="section">
        <a
          title="Permalink to this headline"
          href="#other-tools"
          class="section-anchor"
        >
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
            class="inline"
          >
            <path
              d="M29.25,6.76a6,6,0,0,0-8.5,0l1.42,1.42a4,4,0,1,1,5.67,5.67l-8,8a4,4,0,1,1-5.67-5.66l1.41-1.42-1.41-1.42-1.42,1.42a6,6,0,0,0,0,8.5A6,6,0,0,0,17,25a6,6,0,0,0,4.27-1.76l8-8A6,6,0,0,0,29.25,6.76Z"
            ></path>
            <path
              d="M4.19,24.82a4,4,0,0,1,0-5.67l8-8a4,4,0,0,1,5.67,0A3.94,3.94,0,0,1,19,14a4,4,0,0,1-1.17,2.85L15.71,19l1.42,1.42,2.12-2.12a6,6,0,0,0-8.51-8.51l-8,8a6,6,0,0,0,0,8.51A6,6,0,0,0,7,28a6.07,6.07,0,0,0,4.28-1.76L9.86,24.82A4,4,0,0,1,4.19,24.82Z"
            ></path>
          </svg>
        </a>
        Additional projects
      </h2>
      <p>Cool projects that extend, interface with, or use Qiskit</p>
      <div id="section3" class="cards cds--row">{{section_other_cards}}</div>
    </div>
  </body>
</html>
