name: Ecosystem | Submission check

###
# - install deps
# - parse issue
# - run lint, coverage, tests
# - comment result
# - create PR with change to readme
# - link pr to issue

on:
  issues:
    types: [opened]
#  issue_comment:
#    types: [created]

jobs:
  submission_workflow:
    concurrency:
      group: ci-${{ github.event.issue.title }}
      cancel-in-progress: true
    if: |
      (startsWith(github.event.issue.title, '[Submission]:') && github.event.action == 'opened') ||
      (github.event.comment.body == '!redo' && startsWith(github.event.issue.title, '[Submission]:') && 
      (
      	github.event.sender.login == github.event.issue.user.login || 
      	github.event.comment.author_association == 'OWNER' || 
      	github.event.comment.author_association == 'CONTRIBUTOR'
      ))
    runs-on: ubuntu-latest
    env:
      tox_env: "py39"
      tier: "Community"
      python-version: "3.9"
    steps:
    # setup deps
    - uses: actions/checkout@v2
    - name: Set up Python ${{ env.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    # workflow
    - name: Parse submission
      id: parse-issue
      env:
        ISSUE_BODY: ${{ github.event.issue.body }}
      run: python manager.py parser_issue --body=$ISSUE_BODY
    - name: Tests stable check
      id: stable
      uses: ./.github/actions/run-tests
      with:
        repo_url: ${{ steps.parse-issue.outputs.SUBMISSION_REPO }}
        check_type: "test_stable"
        tox_env: ${{ env.tox_env }}
        tier: ${{ env.tier }}
        logs_link: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
    - name: Tests dev check
      id: dev
      uses: ./.github/actions/run-tests
      with:
        repo_url: ${{ steps.parse-issue.outputs.SUBMISSION_REPO }}
        check_type: "test_dev"
        tox_env: ${{ env.tox_env }}
        tier: ${{ env.tier }}
        logs_link: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
    - name: Tests standard repo check
      id: standard
      uses: ./.github/actions/run-tests
      with:
        repo_url: ${{ steps.parse-issue.outputs.SUBMISSION_REPO }}
        check_type: "test_standard"
        tox_env: ${{ env.tox_env }}
        tier: ${{ env.tier }}
        logs_link: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}

    # Check result, update issue and create MR
    - name: Check return
      run: |
        echo "PASS_LOG=True" >> $GITHUB_ENV

        declare -a return_list=( \
          "${{ steps.stable.outputs.result }}" \
          "${{ steps.standard.outputs.result }}" \
          "${{ steps.dev.outputs.result }}" \
        )
        for i in "${return_list[@]}"; do
          if [[ "${i}" != *"True"* ]]; then
            echo "PASS_LOG=False" >> $GITHUB_ENV
          fi
        done

    - name: Check the check
      id: check_result
      run: |
        echo "Pass log is ${{ env.PASS_LOG }}"

    - name: Add member and update readme
      run: |
        python manager.py add_repo_2db --repo_name=${{ steps.parse-issue.outputs.SUBMISSION_NAME }} \
                                       --repo_link="${{ steps.parse-issue.outputs.SUBMISSION_REPO }}" \
                                       --repo_description="${{ steps.parse-issue.outputs.SUBMISSION_DESCRIPTION }}" \
                                       --repo_licence="${{ steps.parse-issue.outputs.SUBMISSION_LICENCE }}" \
                                       --repo_contact="${{ steps.parse-issue.outputs.SUBMISSION_CONTACT }}" \
                                       --repo_alt="${{ steps.parse-issue.outputs.SUBMISSION_ALTERNATIVES }}" \
                                       --repo_affiliations="${{ steps.parse-issue.outputs.SUBMISSION_AFFILIATIONS }}" \
                                       --repo_labels="${{ steps.parse-issue.outputs.SUBMISSION_LABELS }}"
        python manager.py generate_readme

    - name: Commit changes and create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v3
      with:
        repository: "qiskit-community/ecosystem"
        commit-message: Submission - Add ${{ steps.parse-issue.outputs.SUBMISSION_REPO }} to list.
        title: Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.
        body: |
          Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.
          Closes #${{ github.event.issue.number }}
        branch: submission-${{ github.event.issue.number }}
        base: main

    - name: Create comment on success
      if: ${{ env.PASS_LOG == 'True' }}
      uses: peter-evans/create-or-update-comment@v1
      with:
        repository: "qiskit-community/ecosystem"
        issue-number: ${{ github.event.issue.number }}
        body: |
          Successfull submission! :sparkles: PR #${{ steps.cpr.outputs.pull-request-number }}

    - name: Create comment on failure
      if: ${{ env.PASS_LOG == 'False' }}
      uses: peter-evans/create-or-update-comment@v1
      with:
        repository: "qiskit-community/ecosystem"
        issue-number: ${{ github.event.issue.number }}
        body: |
          Submission PR #${{ steps.cpr.outputs.pull-request-number }} has been created with errors in tests :warning:
          See logs: https://github.com/qiskit-community/ecosystem/actions/runs/${{ github.run_id }}
          Please follow minimal requirements for project or/and add `ecosystem.json` configuration in the root of the project
          Read more here https://github.com/qiskit-community/ecosystem/blob/main/docs/project_overview.md#adding-project-to-the-ecosystem
