name: Ecosystem | Submission

###
# - install deps
# - parse issue
# - create pr

on:
  issues:
    types: [opened, edited, reopened, closed]

jobs:
  submission_workflow:
    concurrency:
      group: ci-${{ github.event.issue.title }}
      cancel-in-progress: true
    if: (startsWith(github.event.issue.title, '[Submission]:') && github.event.action != 'closed')
    runs-on: ubuntu-latest
    env:
      tox_env: "py39"
      python-version: "3.13"
    steps:
    # setup deps
    - uses: actions/checkout@v3
    - name: Set up Python ${{ env.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    # Python workflow
    - name: Parse submission
      id: parse-issue
      env:
        ISSUE_BODY: ${{ github.event.issue.body }}
      run: python manager.py ci add_member_from_issue --body="$ISSUE_BODY"

    # Create PR
    - name: Commit changes and create pull request
      id: cpr
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: Submission - Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.
        title: Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.
        body: |
          Add ${{ steps.parse-issue.outputs.SUBMISSION_NAME }} to list.

          ---
          Closes #${{ github.event.issue.number }}
        branch: submission-${{ steps.parse-issue.outputs.SUBMISSION_SHORT_UUID }}
        labels: submission

  followup_workflow:
    concurrency:
      group: ci-${{ github.event.issue.title }}
      cancel-in-progress: true
    if: >
      startsWith(github.event.issue.title, '[Submission]:')
      && github.event.action == 'closed'
      && github.event.issue.state_reason == 'completed'
      && contains(github.event.issue.labels.*.name, 'submission')
    runs-on: ubuntu-latest
    steps:
    - id: get-id
      run: |
        id=$(echo ${{github.event.issue.title}} | cut -d: -f2- )
        echo "::set-output name=id::$id"
    - name: Create comment on success
      uses: peter-evans/create-or-update-comment@v3
      with:
        issue-number: ${{ github.event.issue.number }}
        body: |
              Hello @${{ github.event.issue.user.login }},

              **${{ steps.get-id.outputs.id }} is now part of the Qiskit Ecosystem**. Here are some follow up actions you can take to get the most out of the program:

              - :speech_balloon: Join other Qiskit ecosystem developers in the Slack [channel `#qiskit-ecosystem`](https://qiskit.slack.com/archives/C04RHE56N93). If you are not in the Qiskit workspace yet, sign up at https://qisk.it/join-slack
              - :white_check_mark: Use the [Qiskit theme](https://github.com/Qiskit/qiskit_sphinx_theme) for your documentation
              - :stethoscope: Keep an eye on the criteria compliance
              - :purple_heart: Add the [Qiskit Ecosystem badge](https://qisk.it/ecosystem-badges) to your `README.md`

              It is great to have you in the ecosystem.
